@keyframes animate-modal-in {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animate-modal-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.modal-wrap {
  position: fixed;
  background: #ffffff;
  border-radius: 12px;
  width: 400px;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  animation: animate-modal-out 0.25s forwards;
}
.modal-wrap.open {
  animation: animate-modal-in 0.25s forwards;
}
.modal-container {
  position: relative;
}
.modal-container .modal-header {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding: 20px 12px 0;
}
.modal-container .modal-content {
  padding: 8px 12px 24px;
}
.modal-container .modal-footer {
  height: 44px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid #edeff2;
}
.modal-container .modal-footer .btn {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50%;
  height: 100%;
}
.modal-container .modal-footer .btn.left {
  color: #666666;
  border-right: 1px solid #edeff2;
}
.modal-container .modal-footer .btn.right {
  color: #036dff;
}

